{% extends 'base1.html'%}
{% block title %}
index
{% endblock %}
{% block content %}
<form method="post" action="/index">

    <nav class="navbar navbar-light bg-dark">
          <div class="container">
                <a class="navbar-brand" href="#" style="color: white">
                    <img src="https://us.vicostone.com/-/media/home/logo/vcslogongang_vi/artboard-17.ashx" alt="" width="30" height="30">
                    Phenikaa Uni
                    <input type="submit" style= "position: absolute; right: 0px; " name="next" value="Training">
                </a>
          </div>
    </nav>
</form>
<!--<form method="post" action="/index">-->
<!--    <input type="submit" name="next" value="next">-->
<!--</form>-->
    <h1 style="text-align: center;"> Face ID App</h1>
    <div style="justify-content: center; display: flex;"><img src="video"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>




{% endblock %}